<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co @@templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
    <script>
        @if (TempData["Message"] != null)
        {
            <text>alert('@TempData["Message"]')</text>
        }
    </script>
</body>
</html>